:root {
    --bg-color: #F0F8FF;
    --lighter-color: #64c4ed;
    --darker-color: #4f81c7;
    --text-color: #F0F8FF;
    --dark-text-color: #000;
}

.MainContent {
    background-color: var(--bg-color);
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 100px 500px 1fr;
    border: 1px solid #00688B;
}







/* changing size of Title Bar text to account for wordwrap */
@media screen and (max-width: 720px){
    .MainTitle {
        font-size: 1rem;
    }
}
